body {
    background-color: #f6f6e4;
}

    .mirror_pic {
    	width: 100%;
    	height: auto;
    	opacity: .68;
    	margin-bottom: -90px;
    	border: double 4px #0E8E9F;
    }
    .mirror_inset {
    	width: 441px;
        height: 232px;
        background-color: #DFE1CC;
        position: absolute;
        bottom: 16.8em;
        left: 25.6em;
    }
    .name {
    	color: #0E8E9F;
        font-family: "Jenna Sue", serif;
        font-size: 83px;
        position: absolute;
        bottom: 4.3em;
        left: 5.3em;
        letter-spacing: 2px;
    }

    .design {
        color: #0E8E9F;
        font-family: "Bernardo Moda", serif;
        font-size: 26px;
        position: absolute;
        bottom: 12.7em;
        left: 21em;
    }

    a:link {
        text-decoration: none;
    }
    .nav a {
    	color: #0E8E9F;
        font-family: "Bernardo Moda", serif;
        font-size: 50px;
        list-style-type: none;
        position: relative;
        bottom: 1.9em;
        left: 4.5em;
    }
    .nav_icon {
    	display: inline;
    	padding-right: 5em;
    	width: 13em;
    }

.about_page {
	    width: 100%;
    height: 39em;
    background-color: #f6f6e4;
    opacity: .85;
    margin-top: 0em;
}
		.oval_pic {
			    position: absolute;
    top: 53.5em;
    left: 44em;
    width: 26em;
    height: 27em;
		}

		.about_blurb {
			position: relative;
    		top: 4.8em;
    		left: 9em;
            width: 65em;
		}
				.about_header {
					color: #0E8E9F;
    				font-family: "Jenna Sue", serif;
    				font-size: 47px;
    				margin-left: 0.5em;
    				letter-spacing: 3px;
				}
				.about_header2 {
					color: #0E8E9F;
					font-family: "Bernardo Moda", serif;
				    font-size: 20px;
    				margin-top: -45px;
    				margin-left: 12.3em;
    			}
    			.about_body {
    				width: 35%;
    				position: absolute;
    				left: 1.7em;
    				color: #666666;
    				font-size: 14px;
    				font-family: "Big Caslon", serif;
    			}
                .signature {
                    color: #0E8E9F;
                    font-family: "Jenna Sue", serif;
                    font-size: 47px;
                    margin-left: 0.5em;
                    letter-spacing: 3px;
                }

.portfolio_page {
	width: 100%;
	height: 97em;
	background-color: #0b7583;
    margin-top: -1em;
}
    
        .selected_work_header {
            padding-top: 1em;
            color: #f6f6e4;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 1.2em;
            letter-spacing: 3px;
        }

        .modern_farmhouse {
            width: 41%;
            height: auto;
            margin-left: 9em;
            margin-top: -1em;
        }

        .airy_bedroom {
            width: 29%;
            height: auto;
            position: absolute;
            left: 47em;
            padding-top: 2em;
        }

        .cozy_living_room {
            width: 41%;
            height: auto;
            margin-left: 11em;
            margin-top: 4em;

        }
        .inviting_office {
            width: 38%;
            height: auto;
            position: absolute;
            margin-top: 11em;
            margin-left: 3em;
        }
        .farmhouse_living_room {
            width: 38%;
            height: auto;
            position: absolute;
            left: 12em;
            margin-top: 28em;
        }

        .kids_room {
            width: 38%;
            height: auto;
            position: absolute;
            left: 44em;
            margin-top: 8em;
        }

.services_box {
    width: 92%;
    height: 39em;
    background-color: #f6f6e4;
    position: absolute;
    top: 5em;
    left: 2.8em;
    opacity: .9;
}

    .services_page {
       width: 100%;
       height: 95em;
       position: absolute;
       background-image: url(../images/wallpaper1.jpg);
    }
        .services_header {
            position: absolute;
            color: #0b7583;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 2em;
            margin-top: 2.8em;
            letter-spacing: 3px; 
        }

            .packages {
                
                width: 25%;
                left: 1.7em;
                color: #666666;
                font-size: 16px;
                font-family: "Big Caslon", serif;      
                position: relative;
            }
                .packages_header {
                    color: #0E8E9F;
                    font-family: "Bernardo Moda", serif;
                    font-size: 24px;
                    margin-bottom: -8px;
                    font-weight: bold; 
                    text-align: center;   
                }
                .ideas {
                   
                    margin-top: 12em;
                    position: relative;
                    width: 22%;
                    text-align: left;
                    float: left;
                    margin-left: 7em;
                    line-height: 21px;
                }
                .diy {
               
                    margin-top: 14em;
                    position: relative;
                    width: 23%;
                    text-align: left;
                    float: left;
                    margin-left: 5em;
                    line-height: 21px;
                }

                  .help {
                  
                    margin-top: 14em;
                    position: relative;
                    width: 23%;
                    text-align: left;
                    float: left;
                    margin-left: 5em;
                    line-height: 21px;
                }

/*
.contact_page {
    width: 100%;
    height: 36em;
    }

   .contact_box {
     width: 50%;
    height: 37em;
    background-color: #f6f6e4;
    position: absolute;
    left: 3.5em;
    opacity: .9;
    top: 240em;
    }
        .contact_me {
            position: absolute;
            color: #0b7583;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 1.3em;
            letter-spacing: 3px;   
        }
*/