body {
    background-color: #f6f6e4;
}

    .mirror_pic {
    	background-image: url("../");
    	width: 100%;
    	height: auto;
    	opacity: .68;
    	margin-bottom: -9px;
    	border: double 4px #0E8E9F;
    }
    .mirror_inset {
    	width: 441px;
        height: 232px;
        background-color: #DFE1CC;
        position: absolute;
        bottom: 16.8em;
        left: 25.6em;
    }
    .name {
    	color: #0E8E9F;
        font-family: "Jenna Sue", serif;
        font-size: 113px;
        position: absolute;
        bottom: 3.1em;
        left: 4.2em;
    }

    .design {
        color: #0E8E9F;
        font-family: "Bernardo Moda", serif;
        font-size: 35px;
        position: absolute;
        bottom: 9.4em;
        left: 18.6em;
    }

    a:link {
        text-decoration: none;
    }
    .nav {
    	color: #0E8E9F;
        font-family: "Bernardo Moda", serif;
        font-size: 50px;
        position: absolute;
    	list-style-type: none;
        bottom: -.8em;
        left: 5.5em;
    }
    .nav_icon {
    	display: inline;
    	padding-right: 3em;
    	width: 10em;
    }

.about_page {
	width: 100%;
	height: 44em;
	background-color: #f6f6e4;
    opacity: .85;
    margin-top: -2em;
}
		.oval_pic {
			position: absolute;
    		top: 55em;
    		left: 44em;
		}

		.about_blurb {
			position: relative;
    		top: 4.8em;
    		left: 8em;
		}
				.about_header {
					color: #0E8E9F;
    				font-family: "Jenna Sue", serif;
    				font-size: 47px;
    				margin-left: 0.5em;
    				letter-spacing: 3px;
				}
				.about_header2 {
					color: #0E8E9F;
					font-family: "Bernardo Moda", serif;
				    font-size: 20px;
    				margin-top: -45px;
    				margin-left: 12.3em;
    			}
    			.about_body {
    				width: 35%;
    				position: absolute;
    				left: 1.7em;
    				color: #666666;
    				font-size: 14px;
    				font-family: "Big Caslon", serif;
    			}

.portfolio_page {
	width: 100%;
	height: 60em;
	background-color: #0b7583;
    margin-top: -2.3em;
    margin-bottom: 3em;
}
        .skills_header {
            padding-top: 1em;
            color: #f6f6e4;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 3.2em;
            letter-spacing: 3px;
        }
        .skills {
            color: #f6f6e4;
            font-family: "Open Sans", serif;
            font-size: 16px;
            position: absolute;
            list-style-type: none;
            left: 14em;
        }
        .skills_title {
            padding-right: 4em;
            display: inline;
            width: 10em;
        }
        .selected_work_header {
            padding-top: 2em;
            color: #f6f6e4;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 3.2em;
            letter-spacing: 3px;
        }

.coding_furiously_first{
    height: 14em;
    margin-left: 8em;
    margin-bottom: 3em;
}
.coding_furiously {
    height: 14em;
    margin-left: 4em;
    margin-bottom: 3em;
}


.contact_page {
	width: 100%;
	height: 36em;
	}

    .contact_page_pic {
        width: 100%;
        opacity: .6;
        margin-top: 6em;
    }

    .contact_box {
        width: 50%;
        height: 36em;
        background-color: #f6f6e4;
        position: absolute;
        top: 158em;
        left: 6em;
        opacity: .9;
    }
        .contact_me {
            position: absolute;
            color: #0b7583;
            font-family: "Jenna Sue", serif;
            font-size: 47px;
            margin-left: 1.3em;
            letter-spacing: 3px;   
        }










